<!--pystyviivan perässä oleva filtteri tekee vasemmalle puolella oelvalle
tiedolle muunnoksen, tässä tapauksessa muuntaa kirjaimet isoiksi
<h2>{{ hero.name | uppercase }} Details</h2>
<div><span>id: </span>{{ hero.id }}</div>
<div><span>name: </span>{{ hero.name }}</div>

<div>
  <label
    >name:
    <input id="name" [(ngModel)]="hero.name" placeholder="name" />
  </label>
</div>
-->
<h2>My Heroes</h2>
<ul class="heroes">
  <!--*ngFor on Angularin sisäänrakennettu iteraatiodirektiivi-->
  <!--class-binging tarkoittaa sitä että css-tyyli sidotaan ehtoon
  ja jos ehto on tosi, niin tyyli esitetään. 
  [class.tyylinnimi]="ehto" -->
  <li *ngFor="let hero of heroes">
    <!--dynaaminen likki, ei tarvitse hakasulkuja kun se on esitetty tällä tavalla-->
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }}
    </a>
  </li>
</ul>
<!-- tämä oli aiemmin tässä: [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)"-->
<!-- selectedHero menee lapsikomponenttiin, sen Hero-muuttujaan.
Tämä on property-binding jolla tehdään tiedon välitys
äitikomponentista lapsikomponenttiin. Tämä on @Input lapsikomponenttiin.-->
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
